/* services */
.view-services {
  text-align: center;
  margin-top: 40px;
  h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .fa {
    background: $theme-color;
    font-size: 38px;
    padding-top: 30px;
    color: #fff;
    width: 99px;
    height: 99px;
    line-height: 1;
    border-radius: 50%;
    position: relative;
    margin-bottom: 29px;
  }
}