/* footer.scss */
footer {
    font-size: 16px;
    background: $footer-background-color;
    color: $footer-font-color;
    margin-bottom: 2.857em;
    @include clearfix;
    ul li { list-style: disc inside none;}
    a {
        color: #fff;
        transition: color 0.2s linear 0s, background-color 0.2s linear 0s;
        &:hover {
            color: $theme-color
        }
    }
    .region-footer-first-left, .region-footer-first-right {
        max-width: 67.5em;
        margin: 0 auto 30px auto;
        @include clearfix;
        .block {
            font-size: 0.875em;
            padding: 0 17px 0 17px;
            h2 {
                color: #fff;
                margin: 2.75em 0 0 0;
                margin-bottom: 1.5625em;
                &:before {
                    content: "";
                    width: 9px;
                    border-left: 3px solid #cccccc;
                    border-right: 3px solid #cccccc;
                    height: 9px;
                    position: absolute;
                    margin-top: -3px;
                    margin-right: 9px;
                    top: 50%;
                    left: 0;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 3px;
                    width: 20px;
                    background: #fff;
                    @include opacity(.2);
                }
            }
        }
    }
    .region-footer-second {
        clear: both;
        border-top: 5px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        max-width: 67.5em;
        margin: 0 auto;
        #block-socialmedialinks {
            padding-top: 2.5em;
            margin-bottom: 1.5625em;
            li {
                display: inline-block;
                list-style: none;
                a {
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: $footer-social-links-color;
                    line-height: 36px;
                    text-align: center;
                    -webkit-transition: background 0.2s linear;
                    -moz-transition: background 0.2s linear;
                    transition: background 0.2s linear;
                    -webkit-border-radius: 1000px;
                    border-radius: 1000px;
                    &:hover {
                        background: $theme-color;
                        color: $footer-social-links-color;
                    }
                }
            }
            .fa-2x {
                font-size: inherit;
            }
        }
        #block-copyrightcopyright {
            font-size: 0.75em;
        }
    }
}