/* shame.scss */

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  //margin-top: 45px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
  box-shadow: 0 0 0 #e2e5e5, 1px 1px 0 #e2e5e5, 2px 2px 0 #e2e5e5, 3px 3px 0 #e2e5e5, 4px 4px 0 #e2e5e5, 5px 5px 0 #e2e5e5, 6px 6px 0 #e2e5e5, 7px 7px 0 #e2e5e5, 8px 8px 0 #e2e5e5, 9px 9px 0 #e2e5e5, 10px 10px 0 #e2e5e5, 11px 11px 0 #e2e5e5, 12px 12px 0 #e2e5e5, 13px 13px 0 #e2e5e5, 14px 14px 0 #e2e5e5, 15px 15px 0 #e2e5e5, 16px 16px 0 #e2e5e5, 17px 17px 0 #e2e5e5, 18px 18px 0 #e2e5e5, 19px 19px 0 #e2e5e5, 20px 20px 0 #e2e5e5, 21px 21px 0 #e2e5e5, 22px 22px 0 #e2e5e5, 23px 23px 0 #e2e5e5, 24px 24px 0 #e2e5e5, 25px 25px 0 #e2e5e5, 26px 26px 0 #e2e5e5, 27px 27px 0 #e2e5e5, 28px 28px 0 #e2e5e5, 29px 29px 0 #e2e5e5, 30px 30px 0 #e2e5e5, 31px 31px 0 #e2e5e5, 32px 32px 0 #e2e5e5, 33px 33px 0 #e2e5e5, 34px 34px 0 #e2e5e5, 35px 35px 0 #e2e5e5, 36px 36px 0 #e2e5e5, 37px 37px 0 #e2e5e5, 38px 38px 0 #e2e5e5, 39px 39px 0 #e2e5e5, 40px 40px 0 #e2e5e5, 41px 41px 0 #e2e5e5, 42px 42px 0 #e2e5e5, 43px 43px 0 #e2e5e5, 44px 44px 0 #e2e5e5, 45px 45px 0 #e2e5e5, 46px 46px 0 #e2e5e5, 47px 47px 0 #e2e5e5, 48px 48px 0 #e2e5e5, 49px 49px 0 #e2e5e5, 50px 50px 0 #e2e5e5, 51px 51px 0 #e2e5e5, 52px 52px 0 #e2e5e5, 53px 53px 0 #e2e5e5, 54px 54px 0 #e2e5e5, 55px 55px 0 #e2e5e5, 56px 56px 0 #e2e5e5, 57px 57px 0 #e2e5e5, 58px 58px 0 #e2e5e5, 59px 59px 0 #e2e5e5, 60px 60px 0 #e2e5e5, 61px 61px 0 #e2e5e5, 62px 62px 0 #e2e5e5, 63px 63px 0 #e2e5e5, 64px 64px 0 #e2e5e5, 65px 65px 0 #e2e5e5, 66px 66px 0 #e2e5e5, 67px 67px 0 #e2e5e5, 68px 68px 0 #e2e5e5, 69px 69px 0 #e2e5e5, 70px 70px 0 #e2e5e5, 71px 71px 0 #e2e5e5, 72px 72px 0 #e2e5e5, 73px 73px 0 #e2e5e5, 74px 74px 0 #e2e5e5, 75px 75px 0 #e2e5e5, 76px 76px 0 #e2e5e5, 77px 77px 0 #e2e5e5, 78px 78px 0 #e2e5e5, 79px 79px 0 #e2e5e5, 80px 80px 0 #e2e5e5, 81px 81px 0 #e2e5e5, 82px 82px 0 #e2e5e5, 83px 83px 0 #e2e5e5, 84px 84px 0 #e2e5e5, 85px 85px 0 #e2e5e5, 86px 86px 0 #e2e5e5, 87px 87px 0 #e2e5e5, 88px 88px 0 #e2e5e5, 89px 89px 0 #e2e5e5, 90px 90px 0 #e2e5e5, 91px 91px 0 #e2e5e5, 92px 92px 0 #e2e5e5, 93px 93px 0 #e2e5e5, 94px 94px 0 #e2e5e5, 95px 95px 0 #e2e5e5, 96px 96px 0 #e2e5e5, 97px 97px 0 #e2e5e5, 98px 98px 0 #e2e5e5, 99px 99px 0 #e2e5e5, 100px 100px 0 #e2e5e5, 101px 101px 0 #e2e5e5, 102px 102px 0 #e2e5e5, 103px 103px 0 #e2e5e5, 104px 104px 0 #e2e5e5, 105px 105px 0 #e2e5e5, 106px 106px 0 #e2e5e5, 107px 107px 0 #e2e5e5, 108px 108px 0 #e2e5e5, 109px 109px 0 #e2e5e5, 110px 110px 0 #e2e5e5, 111px 111px 0 #e2e5e5, 112px 112px 0 #e2e5e5, 113px 113px 0 #e2e5e5, 114px 114px 0 #e2e5e5, 115px 115px 0 #e2e5e5, 116px 116px 0 #e2e5e5, 117px 117px 0 #e2e5e5, 118px 118px 0 #e2e5e5, 119px 119px 0 #e2e5e5, 120px 120px 0 #e2e5e5, 121px 121px 0 #e2e5e5, 122px 122px 0 #e2e5e5, 123px 123px 0 #e2e5e5, 124px 124px 0 #e2e5e5, 125px 125px 0 #e2e5e5, 126px 126px 0 #e2e5e5, 127px 127px 0 #e2e5e5, 128px 128px 0 #e2e5e5, 129px 129px 0 #e2e5e5, 130px 130px 0 #e2e5e5, 131px 131px 0 #e2e5e5, 132px 132px 0 #e2e5e5, 133px 133px 0 #e2e5e5, 134px 134px 0 #e2e5e5, 135px 135px 0 #e2e5e5, 136px 136px 0 #e2e5e5, 137px 137px 0 #e2e5e5, 138px 138px 0 #e2e5e5, 139px 139px 0 #e2e5e5, 140px 140px 0 #e2e5e5, 141px 141px 0 #e2e5e5, 142px 142px 0 #e2e5e5, 143px 143px 0 #e2e5e5, 144px 144px 0 #e2e5e5, 145px 145px 0 #e2e5e5, 146px 146px 0 #e2e5e5, 147px 147px 0 #e2e5e5, 148px 148px 0 #e2e5e5, 150px 150px 0 rgba(0, 0, 0, 0);
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}





.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6, p.navbar-text {
  color: #27313d;
  font-family: $body-font-family;
  font-size: 2.3125em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2125em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  text-rendering: optimizelegibility;
}

.navbar-default .navbar-text {
  color: #27313d;
}

html,
body {
  font-size: 100%;
}

p {
  line-height: 1.6;
}
body {
  background: $background-color;
  color: #27313d;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}

a:hover {
  cursor: pointer;
}

ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.42857em;
  list-style-position: outside;
  font-family: inherit;
}

ul, ol {
  margin-left: 0;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
}

a {
  color: #1abc9c;
  text-decoration: none;
  line-height: inherit;
  transition: all 0.2s ease 0s;
}
a {
  color: $theme-color;
  transition: all 0.2s linear 0s;
  &:hover {
    color: #089a7a;
  }
  &:focus {
    color: #089a7a;
  }
}
a:hover, a:focus {
  color: #089a7a;
  text-decoration: none;
}
a img {
  border: none;
}
// Page header style
.page-header {
  padding-bottom: 0px;
  border-bottom: none;
  letter-spacing: normal;
}
.region-header {
  padding-bottom: 1.75em

}
body {
  .main-container {
    background-color: white;
    padding: 3.75em 0 3.75em 0;
    box-shadow: 0 0 0 #e2e5e5, 1px 1px 0 #e2e5e5, 2px 2px 0 #e2e5e5, 3px 3px 0 #e2e5e5, 4px 4px 0 #e2e5e5, 5px 5px 0 #e2e5e5, 6px 6px 0 #e2e5e5, 7px 7px 0 #e2e5e5, 8px 8px 0 #e2e5e5, 9px 9px 0 #e2e5e5, 10px 10px 0 #e2e5e5, 11px 11px 0 #e2e5e5, 12px 12px 0 #e2e5e5, 13px 13px 0 #e2e5e5, 14px 14px 0 #e2e5e5, 15px 15px 0 #e2e5e5, 16px 16px 0 #e2e5e5, 17px 17px 0 #e2e5e5, 18px 18px 0 #e2e5e5, 19px 19px 0 #e2e5e5, 20px 20px 0 #e2e5e5, 21px 21px 0 #e2e5e5, 22px 22px 0 #e2e5e5, 23px 23px 0 #e2e5e5, 24px 24px 0 #e2e5e5, 25px 25px 0 #e2e5e5, 26px 26px 0 #e2e5e5, 27px 27px 0 #e2e5e5, 28px 28px 0 #e2e5e5, 29px 29px 0 #e2e5e5, 30px 30px 0 #e2e5e5, 31px 31px 0 #e2e5e5, 32px 32px 0 #e2e5e5, 33px 33px 0 #e2e5e5, 34px 34px 0 #e2e5e5, 35px 35px 0 #e2e5e5, 36px 36px 0 #e2e5e5, 37px 37px 0 #e2e5e5, 38px 38px 0 #e2e5e5, 39px 39px 0 #e2e5e5, 40px 40px 0 #e2e5e5, 41px 41px 0 #e2e5e5, 42px 42px 0 #e2e5e5, 43px 43px 0 #e2e5e5, 44px 44px 0 #e2e5e5, 45px 45px 0 #e2e5e5, 46px 46px 0 #e2e5e5, 47px 47px 0 #e2e5e5, 48px 48px 0 #e2e5e5, 49px 49px 0 #e2e5e5, 50px 50px 0 #e2e5e5, 51px 51px 0 #e2e5e5, 52px 52px 0 #e2e5e5, 53px 53px 0 #e2e5e5, 54px 54px 0 #e2e5e5, 55px 55px 0 #e2e5e5, 56px 56px 0 #e2e5e5, 57px 57px 0 #e2e5e5, 58px 58px 0 #e2e5e5, 59px 59px 0 #e2e5e5, 60px 60px 0 #e2e5e5, 61px 61px 0 #e2e5e5, 62px 62px 0 #e2e5e5, 63px 63px 0 #e2e5e5, 64px 64px 0 #e2e5e5, 65px 65px 0 #e2e5e5, 66px 66px 0 #e2e5e5, 67px 67px 0 #e2e5e5, 68px 68px 0 #e2e5e5, 69px 69px 0 #e2e5e5, 70px 70px 0 #e2e5e5, 71px 71px 0 #e2e5e5, 72px 72px 0 #e2e5e5, 73px 73px 0 #e2e5e5, 74px 74px 0 #e2e5e5, 75px 75px 0 #e2e5e5, 76px 76px 0 #e2e5e5, 77px 77px 0 #e2e5e5, 78px 78px 0 #e2e5e5, 79px 79px 0 #e2e5e5, 80px 80px 0 #e2e5e5, 81px 81px 0 #e2e5e5, 82px 82px 0 #e2e5e5, 83px 83px 0 #e2e5e5, 84px 84px 0 #e2e5e5, 85px 85px 0 #e2e5e5, 86px 86px 0 #e2e5e5, 87px 87px 0 #e2e5e5, 88px 88px 0 #e2e5e5, 89px 89px 0 #e2e5e5, 90px 90px 0 #e2e5e5, 91px 91px 0 #e2e5e5, 92px 92px 0 #e2e5e5, 93px 93px 0 #e2e5e5, 94px 94px 0 #e2e5e5, 95px 95px 0 #e2e5e5, 96px 96px 0 #e2e5e5, 97px 97px 0 #e2e5e5, 98px 98px 0 #e2e5e5, 99px 99px 0 #e2e5e5, 100px 100px 0 #e2e5e5, 101px 101px 0 #e2e5e5, 102px 102px 0 #e2e5e5, 103px 103px 0 #e2e5e5, 104px 104px 0 #e2e5e5, 105px 105px 0 #e2e5e5, 106px 106px 0 #e2e5e5, 107px 107px 0 #e2e5e5, 108px 108px 0 #e2e5e5, 109px 109px 0 #e2e5e5, 110px 110px 0 #e2e5e5, 111px 111px 0 #e2e5e5, 112px 112px 0 #e2e5e5, 113px 113px 0 #e2e5e5, 114px 114px 0 #e2e5e5, 115px 115px 0 #e2e5e5, 116px 116px 0 #e2e5e5, 117px 117px 0 #e2e5e5, 118px 118px 0 #e2e5e5, 119px 119px 0 #e2e5e5, 120px 120px 0 #e2e5e5, 121px 121px 0 #e2e5e5, 122px 122px 0 #e2e5e5, 123px 123px 0 #e2e5e5, 124px 124px 0 #e2e5e5, 125px 125px 0 #e2e5e5, 126px 126px 0 #e2e5e5, 127px 127px 0 #e2e5e5, 128px 128px 0 #e2e5e5, 129px 129px 0 #e2e5e5, 130px 130px 0 #e2e5e5, 131px 131px 0 #e2e5e5, 132px 132px 0 #e2e5e5, 133px 133px 0 #e2e5e5, 134px 134px 0 #e2e5e5, 135px 135px 0 #e2e5e5, 136px 136px 0 #e2e5e5, 137px 137px 0 #e2e5e5, 138px 138px 0 #e2e5e5, 139px 139px 0 #e2e5e5, 140px 140px 0 #e2e5e5, 141px 141px 0 #e2e5e5, 142px 142px 0 #e2e5e5, 143px 143px 0 #e2e5e5, 144px 144px 0 #e2e5e5, 145px 145px 0 #e2e5e5, 146px 146px 0 #e2e5e5, 147px 147px 0 #e2e5e5, 148px 148px 0 #e2e5e5, 150px 150px 0 rgba(0, 0, 0, 0);
    .row {
      margin: 0 auto;
      .slider.container {
        padding: 0;
        .views-slideshow-controls-bottom {
          padding: 0 15px;
        }
        .views-field-body {
          padding: 0 15px;
        }
        .views-field-field-slide-link {
          padding: 0 15px;
        }
      }
    }
  }
  &.path-frontpage {
    .main-container {
      padding-top: 0;
    }
  }
}
// Form style
form .form-item label {
  font-weight: 500;
  color: #4d4d4d;
  line-height: 1.6;
  margin-bottom: 0.1875em;
}
.form-required:after {
  margin-left: 5px;
  margin-bottom: 5px;
}
form .form-item input,
form .form-item textarea {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 1em;
  height: 2.4375em;
  margin: 0 0 0.1875em;
  padding: 0.5em;
  width: 100%;
}
form .form-item textarea {
  height: 200px;
}
.btn {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: normal;
  background-color: $green;
  padding: 1em 1.875em 0.9375em 1.875em;
  border: 0;
  border-radius: 3px;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #27313d !important;
  color: white !important;
}

.container > .navbar-header {
  margin: 0;
  margin-left: 15px;
  @media (min-width: $grid-float-breakpoint) {
    margin-left: -15px;
  }
}

.region.region-navigation {
  @include clearfix;
  max-width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 2em;
  .logo {
    display: inline-block;
    margin: 0;
    font-size: 2.25em;
    text-align: center;
    float: none !important;
  }
}

body > .main-container > .row > div.col-sm-12:nth-child(1) {
  float: left;
  width: 100%;
}

@media (max-width: 991px) {
  .main-container .main {
    margin-bottom: 40px;
  }
}

