{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{#{{ dump(_context|keys) }}#}
{#{{ dump(product.variation_price) }}#}
{#{{ dump(elements) }}#}
<article class="product-details">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        {{- product|without('variation_attributes', 'variations', 'variation_title', 'variation_sku', 'variation_price', 'body', 'field_product_category') -}}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="product-title-price">
            <h1>{{ product.variation_title }}</h1>
            {{ product.variation_price }}
        </div>
        <div class="product-content">
            {{ product.variations }}
            {{ product.field_product_category }}
            <span class="description-label">Description</span>
            {{ product.body }}        
        </div>
    </div>
</article>